.button {
    width: 100%;
    position: relative;
    font-family: Arial, sans-serif;
  }
.button button{
    background-color: rgb(252, 153, 82);
    padding: 10px;
    color: rgb(8, 8, 12);
    border: 1px solid rgb(241, 241, 241);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
}
button:active{
  transform: scale(0.95);
  transition:transform all 0.5s;
  box-shadow: 5px 5px 15px rgb(8, 8, 12, 0.2);
}